@use "page.scss";

p {
    font-weight: bold;
}

.App {
    max-height: 100vh; /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto; /* Activez le défilement vertical */
  }

.Snort {
    max-height: 40vh;
    overflow-y: auto; 
}
